<span style="color:green">Introdução à Programação para Engenharias - scc0124</span>

<span style="color:blue">*Strings*</span><br>

*Moacir A. Ponti*<br>
*ICMC/USP São Carlos*

**Conteúdo:**
- Cadeias de caracteres
- Aspas
- Operadores
- Strings são imutáveis
- Métodos

# Strings : cadeias de caracteres

Permite representar e manipular texto ou uma sequência de caracteres, incluindo espaço em branco, pontuação e símbolos diferentes.

In [1]:
string = 'abcd'

In [2]:
print(string)

abcd

* Note que a string é a concatenação de vários caracteres

In [3]:
string2 = 'uma frase é uma junção de vários caracteres'
print(string2)

uma frase é uma junção de vários caracteres

In [4]:
print(type(string2))

<class 'str'>

## Uso de aspas duplas e simples

O padrão é uso de aspas simples, mas usamos a dupla quando *parte da string* inclui a aspas simples

In [7]:
teste = 'o professor disse "bom dia"!'
print(teste)

o professor disse "bom dia"!

In [8]:
frase_com_aspas_duplas = 'Uma frase que tem uma "palavra" em aspas duplas'
print(frase_com_aspas_duplas)

Uma frase que tem uma "palavra" em aspas duplas

In [9]:
frase_com_aspas_simples = "Uma frase que tem uma 'palavra' em aspas simples"
print(frase_com_aspas_simples)

Uma frase que tem uma 'palavra' em aspas simples

# Operadores e funções com strings

Vários operadores funcionam com strings, mas terão efeitos diversos

In [10]:
palavra = 'USP'

In [11]:
palavra*3

'USPUSPUSP'

In [12]:
a = 'Ciência'
b = 'Tecnologia'

In [13]:
a+b

'CiênciaTecnologia'

In [16]:
a+' e '+b

'Ciência e Tecnologia'

In [18]:
a+' e '+b+12

TypeError: can only concatenate str (not "int") to str

In [17]:
a*b

TypeError: can't multiply sequence by non-int of type 'str'

In [21]:
a == 'Ciência '

False

In [22]:
print(a)

Ciência

In [31]:
print(3)

3

In [23]:
a != 'Ciência'

False

Tamanho da string

In [24]:
len(a)

7

Fatiar / slice

```
posicoes: 01234567
string:  'abcde123'

posicoes: 0123456
a:       'Ciência'
```

Operador colchetes acessa as posições específicas

In [25]:
a[0]

'C'

Recuperar um intervalo utilizando :
- a:b   o intervalo retorna de a até menor do que b

In [26]:
a[2:5]

'ênc'

In [27]:
a[:3]

'Ciê'

In [28]:
a[4:]

'cia'

## Operadores que não funcionam

`-`
`/`
`//`
`%`
`**`

# Strings são imutáveis

Apesar de podermos fatiar partes da string para exibição, não é possível alterá-las

In [29]:
str_imutavel = 'CompanhiaX'
str_imutavel[0]

'C'

In [30]:
str_imutavel[0] = '$'

TypeError: 'str' object does not support item assignment

# Métodos de strings

São funções que são chamadas a partir da variável que contem uma string. Alguns exemplos que podem ser úteis

1. Caixa alta (maiúsculas)

In [51]:
a.upper()

'CIÊNCIA'

In [53]:
print(a)
a = a.upper()
print(a)

Ciência
CIÊNCIA

In [33]:
upper(a)

NameError: name 'upper' is not defined

2. Caixa baixa (minúsculas)

In [35]:
print(b)

Tecnologia

In [34]:
b.lower()

'tecnologia'

3. Primeira letra em maiúscula

In [36]:
c = 'socorram me subimos num onibus em marrocos'

In [37]:
c.capitalize()

'Socorram me subimos num onibus em marrocos'

4. Procurar a ocorrência de uma sub-string

In [38]:
local = c.find('subimos')

In [39]:
print(local)

12

In [40]:
print(c[local:])

subimos num onibus em marrocos

In [43]:
local = c.find('cairo')
print(local)

-1

In [44]:
local = c.find('marrocos')
print(local)

34

5. Substituição

In [45]:
c.replace('subimos', 'subi')

'socorram me subi num onibus em marrocos'

In [47]:
c = c.replace('subimos', 'subi')

In [48]:
print(c)

socorram me subi num onibus em marrocos

6. Identificação de string contendo tipo numérico

In [54]:
c.isnumeric()

False

In [57]:
d = '1000'
print(d)
print(type(d))

1000
<class 'str'>

In [58]:
d.isnumeric()

True

7. Conversão para numérico

In [59]:
int(d)

1000

8. Remover elementos indesejados no início e fim da string

In [62]:
e = '     ###o que eu quero!?!! '
e

'     ###o que eu quero!?!! '

In [61]:
e.strip()

'###o que eu quero!?!!'

In [63]:
e.strip(' #!')

'o que eu quero!?'