<span style="color:green">Introdução à Programação para Engenharias - scc0124</span>

<span style="color:blue">*Tuplas*</span><br>

*Moacir A. Ponti*<br>
*ICMC/USP São Carlos*

**Conteúdo:**
- Tuplas
- Comparando com listas
- Uso de tuplas como registros de dados
- *Unpacking*

# Tuplas

Uma coleção de dados *ordenada* e *imutável*

*usamos parênteses ao invés de colchetes*

In [1]:
tupla = ('morango', 'banana', 'seriguela')

In [3]:
lista = ['morango', 'banana', 'seriguela']

In [4]:
print(tupla)

('morango', 'banana', 'seriguela')

In [5]:
print(lista)

['morango', 'banana', 'seriguela']

1. É *ordenada* pois sua ordem é definida na criação e não se altera, e portanto permite valores duplicados
2. É imutável pois não podemos alterar seus valores

In [8]:
lista.sort()
print(lista)

['banana', 'morango', 'seriguela']

In [6]:
tupla.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [9]:
tupla[0]

'morango'

In [10]:
tupla[0] = 'caqui'

TypeError: 'tuple' object does not support item assignment

In [11]:
tupla_duplicacao = ('banana', 'manga', 'amora', 'manga')
print(tupla_duplicacao[1])
print(tupla_duplicacao[3])

manga
manga

Também é possível armazenar diferentes tipos de dados

In [14]:
tupla_mista = (1, 2, 'tres', 'quatro', 4.1, [1,2])
print(tupla_mista)
print(type(tupla_mista[0]))
print(type(tupla_mista[3]))
print(type(tupla_mista[4]))
print(type(tupla_mista[5]))

(1, 2, 'tres', 'quatro', 4.1, [1, 2])
<class 'int'>
<class 'str'>
<class 'float'>
<class 'list'>

---

Mas então **quando usar tuplas** ao invés de listas?

## Tuplas vs listas

Por serem imutáveis tuplas são mais **eficientes** em termos de **memória** ocupada, e ligeiramente mais eficientes em termos de tempo para buscar um valor

---
## Tuplas como registros

Se o índice (posição) tem significado então podemos usar as tuplas para armazenar valores específicos, como se fossem "campos" de um formulário de dados

Por exemplo, identificadores de passageiros em um vôo contendo país, número do passaporte e ano de validade do passaporte, **sempre nessa ordem**, e sendo que os valores não precisarão ser alterados, nem novos incluídos na tupla

In [15]:
id_pass1 = ('BRA', 'XX10231', 2023)
id_pass2 = ('ESP', 'JO133131', 2021)
id_pass3 = ('USA', '133131-1', 2024)

ao obter os valores sabemos do que se trata pela ordem, e ganhamos a eficiência em memória da tupla

In [16]:
# passaporte do passageiro 1
print("Passaporte: ", id_pass1[1])

Passaporte:  XX10231

In [17]:
# validade do passageiro 3
print("Ano da validade: ", id_pass3[2])

Ano da validade:  2024

## *Unpacking*

É possível "desempacotar" valores em tuplas facilmente, usando vírgulas.

In [19]:
# desempacotando
pais, passp, ano = id_pass1

In [20]:
print(pais, passp, ano)

BRA XX10231 2023

In [23]:
ano

2023

In [24]:
type(ano)

int

In [25]:
x = 1000
y = 3333

# troque os valores dessas variaveis de forma que o valor de x seja armazenado em y, e o de y em x

tmp = x
x = y
y = tmp
print(x)
print(y)

3333
1000

Uma aplicação interessante do desempacotamento é trocar o valor de variáveis *sem usar uma intermediária*

In [26]:
a = 111
b = 222

# desempacotando
a, b = b, a

print("a =", a)
print("b =", b)

a = 222
b = 111

Também é possível desempacotar alguns valores, jogando os demais em uma variável que se transformará numa lista

para isso usamos `*` (asterisco)

In [28]:
tupla = (1, 2, 3, 4, 5, 6)
print(tupla)

(1, 2, 3, 4, 5, 6)

In [29]:
primeiro, segundo, *restante = tupla

print(primeiro)
print(segundo)
print(restante)

1
2
[3, 4, 5, 6]

In [30]:
*inicio, penultimo, ultimo = tupla

print(inicio)
print(penultimo)
print(ultimo)

[1, 2, 3, 4]
5
6

In [32]:
primeiro, segundo, *outros, ultimo = tupla 

print(primeiro)
print(segundo)
print(outros)
print(ultimo)

1
2
[3, 4, 5]
6

Esse *desempacotamento* baseado em tuplas também funciona para listas