<span style="color:green">Introdução à Programação para Engenharias - scc0124</span>

<span style="color:blue">*Mais operações com Tuplas e Listas*</span><br>

*Moacir A. Ponti*<br>
*ICMC/USP São Carlos*

## Combinando listas e tuplas

É possível combinar tuplas e listas, aninhando estruturas que podem ser bastante úteis

### Lista de tuplas

In [1]:
# tuplas como registros indicando frutas: código identificador, nome e preço por kilo
fruta1 = (640, 'morango', 25.0)
fruta2 = (201, 'banana', 4.99)
fruta3 = (452, 'seriguela', 9.99)
fruta4 = (330, 'melancia', 2.50)

In [3]:
lista = [fruta1, fruta2, fruta3, fruta4]
print(lista)

[(640, 'morango', 25.0), (201, 'banana', 4.99), (452, 'seriguela', 9.99), (330, 'melancia', 2.5)]

In [4]:
lista[0]

(640, 'morango', 25.0)

In [5]:
lista[3]

(330, 'melancia', 2.5)

In [6]:
lista.sort()
print(lista)

[(201, 'banana', 4.99), (330, 'melancia', 2.5), (452, 'seriguela', 9.99), (640, 'morango', 25.0)]

In [7]:
lista.append((202, 'maçã', 6.95))

In [8]:
print(lista)

[(201, 'banana', 4.99), (330, 'melancia', 2.5), (452, 'seriguela', 9.99), (640, 'morango', 25.0), (202, 'maçã', 6.95)]

In [15]:
preco1 = lista[0][2]
print(preco1)

4.99

In [12]:
cod,nom,preco2 = lista[0]
print(preco2)

4.99

### Lista de listas

In [16]:
# listas com notas de turmas de alunos
turma1 = [9.5, 8.0, 10.0, 5.0, 3.0, 6.0, 6.5]
turma2 = [1.5, 5.0, 5.5, 6.8, 8.0, 9.5, 9.5, 10.0, 1.0]
turma3 = [5.5, 7.0, 8.0, 6.0, 0.0, 3.5]
turma4 = [10.0, 7.5, 8.0, 9.0, 4.0, 6.0, 6.5]

In [19]:
notas = [turma1, turma2]
print(notas)

[[9.5, 8.0, 10.0, 5.0, 3.0, 6.0, 6.5], [1.5, 5.0, 5.5, 6.8, 8.0, 9.5, 9.5, 10.0, 1.0]]

In [20]:
notas.append(turma4)
print(notas)

[[9.5, 8.0, 10.0, 5.0, 3.0, 6.0, 6.5], [1.5, 5.0, 5.5, 6.8, 8.0, 9.5, 9.5, 10.0, 1.0], [10.0, 7.5, 8.0, 9.0, 4.0, 6.0, 6.5]]

In [21]:
notas.insert(2, turma3)

In [22]:
print(notas)

[[9.5, 8.0, 10.0, 5.0, 3.0, 6.0, 6.5], [1.5, 5.0, 5.5, 6.8, 8.0, 9.5, 9.5, 10.0, 1.0], [5.5, 7.0, 8.0, 6.0, 0.0, 3.5], [10.0, 7.5, 8.0, 9.0, 4.0, 6.0, 6.5]]

In [23]:
notas[0]

[9.5, 8.0, 10.0, 5.0, 3.0, 6.0, 6.5]

In [24]:
notas[1:]

[[1.5, 5.0, 5.5, 6.8, 8.0, 9.5, 9.5, 10.0, 1.0],
 [5.5, 7.0, 8.0, 6.0, 0.0, 3.5],
 [10.0, 7.5, 8.0, 9.0, 4.0, 6.0, 6.5]]

## Está contido (in)

In [33]:
0 in notas[1]

False

In [34]:
0 in notas[2]

True

In [35]:
if ('banana' in lista[0]):
    print(lista[0][2])

4.99

In [37]:
if ('laranja' in lista[0]):
    print(lista[0][2])
else:
    print('não é laranja')

não é laranja

## Soma (sum)

In [38]:
sum(notas[0])

48.0

In [43]:
# média das notas
print(turma2)
sum(turma2)/len(turma2)

[1.5, 5.0, 5.5, 6.8, 8.0, 9.5, 9.5, 10.0, 1.0]

6.311111111111111

In [39]:
sum(fruta1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Min e Max

In [44]:
max(notas[0])

10.0

In [45]:
min(notas[0])

3.0

## Gerador de intervalos (range)

Sintaxe: `range(inicio, terminador, passo)`

* Obrigatório `range(terminador)`: 0 e terminador-1
* `range(inicio, terminador)`: inicio e terminador-1
* `range(inicio, terminador, passo)`: inicio e terminador-1 com incremento/passo definido

In [46]:
range(10)

range(0, 10)

In [49]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [51]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [52]:
tuple(range(0,101))

(0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100)

In [53]:
list(range(0,101,20))

[0, 20, 40, 60, 80, 100]