<span style="color:green">Introdução à Programação para Engenharias - scc0124</span>

<span style="color:blue">*Lista de Exercícios (1)*</span><br>

*Moacir A. Ponti*<br>
*ICMC/USP São Carlos*

## Variáveis, tipos de dados, memória, entrada e saída de dados

### 1) Escreva expressões aritméticas/algébricas que correspondam às seguintes declarações

a) A soma dos 7 primeiros números inteiros<br>
b) 3 elevado a 8a (oitava) potencia<br>
c) a diferença absoluta entre a altura de Maíra (168 centímetros) e a altura de Janaína (173 centímetros)<br>
d) o menor preço dentre os seguintes preços: 20.50, 2.10, 1.95 e 1.99 <br>

### 2) Traduza as seguintes frases em expressões booleanas (lógicas), e avalie-as

a) A soma de 2 e 2 é menor do que 4<br>
b) 1387 é divisível por 19<br>
c) A soma de 2, 4 e 16 é maior do que 20<br>
d) 31 é par<br>
e) O menor preço entre 20.50, 2.10, 1.95 e 1.99 é menor do que 2<br>

### 3) Escreva códigos que correspondam às seguintes ações, e execute-as

a) Atribua o valor inteiro 51 à uma variável x<br>
b) Atribua o valor 3 a uma variável y<br>
c) Atribua à variável c o valor da expressão ((x  + 1) / 2 / 2)

### 4) Em qual ordem os operadores são executados nas expressões abaixo?

a) `7 + 10 == 4 or x <= 7`<br>
b) `lista[3] * -a < 10 == 0`<br>
c) `2 * 3**2`<br>
d) `10 / 2 in [2, 4, 6]`<br>

### 5) Qual o tipo do valor resultante das operações abaixo?

a) `False + True`<br>
b) `2 * 1**2`<br>
c) `6/2`<br>
d) `6//2 + 6%2`<br>
e) `2 + 4 == 4 or 0 <= 1`<br>

### 6) Impressão de 3 valores

Permita que o usuário entre com 3 valores, convertendo-os para: inteiro, float e string, nessa ordem. A seguir, imprima na tela o resultado no seguinte formato:
`<string>: <valor inteiro>, <valor float com 2 casas decimais>`

Exemplo: se forem digitados os valores 10, 2.052 e parafuso, deve ser exibido<br>
`parafuso: 10, 2.05`

### 7) Expressões iguais a zero

Altere a ordem dos operadores e/ou force a precedência das operações para que o resultado das expressões abaixo sejam sempre iguais a zero:

* `3 % 5 + 5 % 3`
* `1 + 2 / 2 % 1`
* `8 % 4 ** 2 / 2`
* `3 * 2 % 2 / 3`
* `int(1 + 0 % 22 / 11 + 2)`

### 8) Expressões verdadeiras
Faça o mesmo para as expressões abaixo para resultar em valores **True**

* `5 >= 7 and 6 <= 7 or 2 == 4`
* `10e02 == 10 and 10000 <= 10e02 or 10 >= 10e02 * 1`
* `1 + 100 and 100 / 2 + 50 * 4 or 400`

---

## Condicionais

### 9) Escreva as seguintes expressões condicionais usando `if`

a) Se `gasolina` for menor do que 1/6, exibir 'Combustível na reserva'<br>
b) Se `dano` for maior do que 10 e `armadura` for igual a 0, exibir 'Game Over'<br>
c) Se ao menos uma das variáveis (do tipo `bool`) a seguir: `norte`, `sul`, `leste`, `oeste` for verdadeira, exibir 'É possível escapar'<br>
d) Se `disciplina` estiver na lista `['Programação', 'Projeto', 'Geometria']` exibir 'Uma das 3 melhores disciplinas da graduação'<br>

### 10) Implemente um programa que peça ao usuário para digitar um ano.

A seguir, se o ano for divisível por 4, exiba na tela 'Pode ser um ano bissexto'; caso contrário exiba 'Definitivamente não é um ano bissexto'

### 11) Mínimo e máximo entre 3 números

Implemente um programa que receba como entrada do usuário 3 valores e utilize condicionais `if`,  `elif` e `else` para exibir na tela qual dos números é o máximo e qual é o mínimo (não use `min()` e `max()`)

### 12) IMC

Faça um programa que pegue o nome, a idade, o peso (em kg) e a altura do usuário (em metros); calcule o IMC (Índice de Massa Corporal) utilizando a fórmula:
<center> $ IMC = \frac{Peso}{Altura^2} $ </center>

E por fim, exiba uma mensagem no seguinte formato:
```
Nome: %s
Idade: %d
IMC: %.4f
Resutado: %s
```

Onde, na ordem: `%s` é a string que representa o nome, `%d` o inteiro que representa a idade, `%f` o float que representa o IMC da pessoa em questão arredondado para 2 casas decimais. Finalmente o último `%s` depende do valor do ICMC. Exibir:
* *'Magreza'*, quando o ICMC é menor que 18,5;
* *'Normal'*, quando o ICMC é maior ou igual 18,5 e menor que 25,0;
* *'Sobrepeso'*, quando o ICMC é maior ou igual a 25,0 e menor do que 30;
* *'Obesidade'*, quando o ICMC é maior ou igual a 30.

---

## Strings

### 13) Crie variáveis contendo as 3 strings a seguir: 
```
s1='aaa'
s2='uuu'
s3='kkl'
```

Escreva exprssões usando as variáveis acima, e apenas os operadores `+` e `*` de forma a obter os seguintes resultados:

a) `aaa uuukkl`<br>
b) `kklkklkklkklkklaaa`<br>
c) `aaa aaa aaa aaa aaa aaa uuuuuu`<br>
d) `kkluuu!kkluuu!kkluuu!kkluuu!kkluuu!`<br>

### 14) A partir da string abaixo
```
st='123456789'
```

Escreva expressões com base em `st` de forma a retornar:

a) `1`<br>
b) `5`<br>
c) `6`<br>
d) `9`<br>

### 15) A partir da string abaixo
```
st='123456789'
```

Escreva uma única expressão que retorne:

a) `89`<br>
b) `345`<br>
c) `12`<br>
d) `456789`<br>

---

## Listas

### 16) Lista numérica

Seja a lista
`lst1 = [50.1, '0.1', 5, 'abc']`

Converta todos os valores do tipo string para numérico. Caso não seja possível, exclua o valor.

In [1]:
lst1 = [50.1, '0.1', 5, 'abc']
lst1[1] = float(lst1[1])
lst1.remove('abc')
print(lst1)

[50.1, 0.1, 5]

### 17) Escreva uma expressão que seja capaz de retornar, em ordem alfabética, as duas primeiras e a última palavra da lista a seguir:
```
paises = ['Peru', 'Brasil', 'Uruguai', 'Chile', 'Colômbia', 'Argentina']
```

### 18) Retornando o valor da lista:

Seja a mesma lista com países:

```
paises = ['Peru', 'Brasil', 'Uruguai', 'Chile', 'Colômbia', 'Argentina']
```

Peça ao usuário um número e use esse número para retornar o país da respectiva posição na lista. Caso o usuário digite um índice fora dos limites da lista, exibir na tela 'índice do país não existe'

### 19) Dada uma lista de preços de produtos, abaixo:
```
precos = [10.90, 1.99, 1.99, 5.99, 9.99, 30.0, 29.50, 1.99]
```
Escreva expressões que:

a) Avalie e retorne o número de preços iguais a 1.99<br>
b) Uma expressão que avalie o maior preço na lista<br>
c) Uma expressão que retorne os preços do maior para o menor<br>
d) Uma expressão que altere o último preço para 2.49<br>


### 20) Dada uma lista de preços de produtos, abaixo:
```
precos = [10.90, 1.99, 1.99, 5.99, 9.99, 30.0, 29.50, 1.99]
```
Verifique se um determinado preço, informado pelo usuário, está contido na lista.