<span style="color:green">Introdução à Programação para Engenharias - scc0124</span>

<span style="color:blue">*Lista de Exercícios (1)*</span><br>

*Moacir A. Ponti*<br>
*ICMC/USP São Carlos*

### <span style="color:darkred">Resolução por Marina e Moacir</span>

## Variáveis, tipos de dados, memória, entrada e saída de dados

### 1) Escreva expressões aritméticas/algébricas que correspondam às seguintes declarações

a) A soma dos 7 primeiros números inteiros<br>
b) 3 elevado a 8a (oitava) potencia<br>
c) a diferença absoluta entre a altura de Maíra (168 centímetros) e a altura de Janaína (173 centímetros)<br>
d) o menor preço dentre os seguintes preços: 20.50, 2.10, 1.95 e 1.99 <br>

In [1]:
#a)
print('a)')
a1 = int(input('Digite um número: '))
an = a1 + 6
Sn = (7*(a1 + an)) / 2
print(Sn)

#b)
print()
x = 3**8
print(f'b) {x}')

#c)
print()
diferença = 173 - 168
print(f'c) A diferença entre elas é de {diferença}cm.')

#d)
print()
preços = [20.50, 2.10, 1.95, 1.99]
menor = min(preços)
print(f'd) {menor}')

a)
Digite um número: 3
42.0

b) 6561

c) A diferença entre elas é de 5cm.

d) 1.95

### 2) Traduza as seguintes frases em expressões booleanas (lógicas), e avalie-as

a) A soma de 2 e 2 é menor do que 4<br>
b) 1387 é divisível por 19<br>
c) A soma de 2, 4 e 16 é maior do que 20<br>
d) 31 é par<br>
e) O menor preço entre 20.50, 2.10, 1.95 e 1.99 é menor do que 2<br>

In [ ]:
#a)
a = (2+2)<4
print(f'a) A expressão gera {a} por não condizer com o resultado. Seria True se fosse (2+2)=4')

#b)
x = 1397
y = 19
if x % y == 0:
  print(f'b) {x} é divisível por {y}') 
else:
  print(f'b) {x} não é divisível por {y}') 

#c)
s = 2 + 4 + 16
conf = s > 20
print(f'c) gera {conf} pois condiz o resultado da soma ser maior que 20')

#d)
n = 31
d = 31 % 2
if d == 0:
  print(f'd) {n} par') 
else:
  print(f'd) {n} é impar')

#e)
preços = [20.50, 2.10, 1.95, 1.99]
menor = min(preços)
if menor < 2:
  print(f'e) {menor} é menor que 2')
else:
  print(f'e) {menor} é maior que 2')

a) A expressão gera False por não condizer com o resultado. Seria True se fosse (2+2)=4
b) 1397 não é divisível por 19
c) gera True pois condiz o resultado da soma ser maior que 20
d) 31 é impar
e) 1.95 é menor que 2

### 3) Escreva códigos que correspondam às seguintes ações, e execute-as

a) Atribua o valor inteiro 51 à uma variável x<br>
b) Atribua o valor 3 a uma variável y<br>
c) Atribua à variável c o valor da expressão ((x  + 1) / 2 / 2)

In [ ]:
#a)
x = 51
print(f'a) x = {x}')

#b)
y = 3
print(f'b) y = {y}')

#c)
c = int((x + 1) / 2 / 2)
print(f'c) c = {c}')

a) x = 51
b) y = 3
c) c = 13

### 4) Em qual ordem os operadores são executados nas expressões abaixo?

a) `7 + 10 == 4 or x <= 7`<br>
b) `lista[3] * -a < 10 == 0`<br>
c) `2 * 3**2`<br>
d) `10 / 2 in [2, 4, 6]`<br>

In [2]:
#a)
#7 + 10 == 4 or x <= 7
print('a) da esquerda para a direita')

#b)
#lista[3] * -a < 10 == 0
print('b) da esquerda para a direita')

#c)
#2 * 3**2
print('c) potência e multiplicação (direita para esquerda)')

#d)
#10 / 2 in [2, 4, 6]
print('d) da esquerda para a direita')

a) da esquerda para a direita
b) da esquerda para a direita
c) potência e multiplicação (direita para esquerda)
d) da esquerda para a direita

### 5) Qual o tipo do valor resultante das operações abaixo?

a) `False + True`<br>
b) `2 * 1**2`<br>
c) `6/2`<br>
d) `6//2 + 6%2`<br>
e) `2 + 4 == 4 or 0 <= 1`<br>

In [5]:
#a) 
a = False + True
x = type(a)
print(f'a) {a} é {x}')

#b) 
b = 2 * 1**2
x = type(b)
print(f'b) {b} é {x}')

#c) 
c = 6/2
x = type(c)
print(f'c) {c} é {x}')

#d) 
d = 6//2 + 6%2
x = type(d)
print(f'd) {d} é {x}')

#e) 
e = 2 + 4 == 4 or 0 <= 1
x = type(e)
print(f'e) {e} é {x}')

a) 1 é <class 'int'>
b) 2 é <class 'int'>
c) 3.0 é <class 'float'>
d) 3 é <class 'int'>
e) True é <class 'bool'>

### 6) Impressão de 3 valores

Permita que o usuário entre com 3 valores, convertendo-os para: inteiro, float e string, nessa ordem. A seguir, imprima na tela o resultado no seguinte formato:
`<string>: <valor inteiro>, <valor float com 2 casas decimais>`

Exemplo: se forem digitados os valores 10, 2.052 e parafuso, deve ser exibido<br>
`parafuso: 10, 2.05`

In [ ]:
print('Boa tarde!')
a = int(input('digite um número: '))
b = float(input('digite outro número: '))
c = str(input('Digite uma palavra: '))
print('%s: %i, %.2f'%(c, a, b))
print(f'{c}: {a}, {b:.2f}')

Boa tarde!
digite um número: 4
digite outro número: 6.777
Digite uma palavra: 09
09: 4, 6.78
09: 4, 6.78

### 7) Expressões iguais a zero

Altere a ordem dos operadores e/ou force a precedência das operações para que o resultado das expressões abaixo sejam sempre iguais a zero:

* `3 % 5 + 5 % 3`
* `1 + 2 / 2 % 1`
* `8 % 4 ** 2 / 2`
* `3 * 2 % 2 / 3`
* `int(1 + 0 % 22 / 11 + 2)`

In [ ]:
print('a) 3 % 5 + 5 % 3')
a = 3 % (5 + 5) % 3
print(f'3 % (5 + 5) % 3 = {a}')

print('\nb) 1 + 2 / 2 % 1')
b = (1 + 2 / 2) % 1
print(f'(1 + 2 / 2) % 1 = {b}')

print('\nc) 8 % 4 ** 2 / 2')
c = (8 % 4) ** 2 / 2
print(f'8 % 4 ** 2 / 2 = {c}')

print('\nd) int(1 + 0 % 22 / 11 + 2)')
d = int((1 + 0) % 22 / (11 + 2))
print(f'int((1 + 0) % 22 / (11 + 2)) = {d}')

a) 3 % 5 + 5 % 3
3 % (5 + 5) % 3 = 0

b) 1 + 2 / 2 % 1
(1 + 2 / 2) % 1 = 0.0

c) 8 % 4 ** 2 / 2
8 % 4 ** 2 / 2 = 0.0

d) int(1 + 0 % 22 / 11 + 2)
int((1 + 0) % 22 / (11 + 2)) = 0

### 8) Expressões verdadeiras
Faça o mesmo para as expressões abaixo para resultar em valores **True**

* `5 >= 7 and 6 <= 7 or 2 == 4`
* `10e02 == 10 and 10000 <= 10e02 or 10 >= 10e02 * 1`
* `1 + 100 and 100 / 2 + 50 * 4 or 400`

*OBS: essa questão pode ter diferentes respostas, então abaixo apenas alguma das possíveis*

In [10]:
5 <= 7 and 6 <= 7 or 2 != 4

True

In [11]:
10e01 == 10 and 10000 >= 10e02 or 10 <= 10e02 * 1

True

In [17]:
bool(1 + 100 and 100 / 2 + 50 * 4 or 400)

True

---

## Condicionais

### 9) Escreva as seguintes expressões condicionais usando `if`

a) Se `gasolina` for menor do que 1/6, exibir 'Combustível na reserva'<br>
b) Se `dano` for maior do que 10 e `armadura` for igual a 0, exibir 'Game Over'<br>
c) Se ao menos uma das variáveis (do tipo `bool`) a seguir: `norte`, `sul`, `leste`, `oeste` for verdadeira, exibir 'É possível escapar'<br>
d) Se `disciplina` estiver na lista `['Programação', 'Projeto', 'Geometria']` exibir 'Uma das 3 melhores disciplinas da graduação'<br>

In [19]:
# a)
gasolina = 0.1
if gasolina < 1/6:
    print('combustivel na reserva')

combustivel na reserva

In [20]:
# b)
dano = 11
armadura = 0
if (dano > 10 and armadura == 0):
    print('game over')

game over

In [21]:
# c)
if "Norte" or "Sul" or "leste" or "Oeste":
    print("É possível escapar")

É possível escapar

In [22]:
# d)
disciplina = 'Programação'
if disciplina in ['Programação', 'Projeto', 'Geometria']:
    print('Uma das 3 melhores disciplinas da graduação')

Uma das 3 melhores disciplinas da graduação

### 10) Implemente um programa que peça ao usuário para digitar um ano.

A seguir, se o ano for divisível por 4, exiba na tela 'Pode ser um ano bissexto'; caso contrário exiba 'Definitivamente não é um ano bissexto'

In [24]:
ano = int(input())
if (ano % 4 == 0):
    print('Pode ser um ano bissexto')
else:
    print('Definitivamente não é um ano bissexto')

2013
Definitivamente não é um ano bissexto

### 11) Mínimo e máximo entre 3 números

Implemente um programa que receba como entrada do usuário 3 valores e utilize condicionais `if`,  `elif` e `else` para exibir na tela qual dos números é o máximo e qual é o mínimo (não use `min()` e `max()`)

In [31]:
# OBS1: nao especifiquei o tipo do valor entao usei float aqui, mas int também estaria correto
a = float(input())
b = float(input())
c = float(input())

if (a >= b and a >= c):
    maior = a
    if (b >= c):
        menor = c
    else:
        menor = b
elif (b >= a and b >= c):
    maior = b
    if (a >= c):
        menor = c
    else:
        menor = a
elif (c >= a and c >= b):
    maior = c
    if (a >= b):
        menor = b
    else:
        menor = a
        
print('Menor = ', menor)
print('Maior = ', maior)

7
777
-7
Menor =  -7.0
Maior =  777.0

### 12) IMC

Faça um programa que pegue o nome, a idade, o peso (em kg) e a altura do usuário (em metros); calcule o IMC (Índice de Massa Corporal) utilizando a fórmula:
<center> $ IMC = \frac{Peso}{Altura^2} $ </center>

E por fim, exiba uma mensagem no seguinte formato:
```
Nome: %s
Idade: %d
IMC: %.4f
Resutado: %s
```

Onde, na ordem: `%s` é a string que representa o nome, `%d` o inteiro que representa a idade, `%f` o float que representa o IMC da pessoa em questão arredondado para 2 casas decimais. Finalmente o último `%s` depende do valor do ICMC. Exibir:
* *'Magreza'*, quando o ICMC é menor que 18,5;
* *'Normal'*, quando o ICMC é maior ou igual 18,5 e menor que 25,0;
* *'Sobrepeso'*, quando o ICMC é maior ou igual a 25,0 e menor do que 30;
* *'Obesidade'*, quando o ICMC é maior ou igual a 30.

In [33]:
nome = str(input()).rstrip()
idade = int(input())
peso = float(input())
altura = float(input())

IMC = peso/(altura*altura)

print("Nome: %s" % (nome))
print("Idade: %d" % (idade))
print("IMC: %.4f" % (IMC))

if (IMC < 18.5):
    resultado = 'Magreza'
elif (IMC < 25):
    resultado = 'Normal'
elif (IMC < 30):
    resultado = 'Sobrepeso'
else:
    resultado = 'Obeso'
    
print("Resultado: %s" % (resultado))

João
25
84
1.78
Nome: João
Idade: 25
IMC: 26.5118
Resultado: Sobrepeso

---

## Strings

### 13) Crie variáveis contendo as 3 strings a seguir: 
```
s1='aaa'
s2='uuu'
s3='kkl'
```

Escreva exprssões usando as variáveis acima, e apenas os operadores `+` e `*` de forma a obter os seguintes resultados:

a) `aaa uuukkl`<br>
b) `kklkklkklkklkklaaa`<br>
c) `aaa aaa aaa aaa aaa aaa uuuuuu`<br>
d) `kkluuu!kkluuu!kkluuu!kkluuu!kkluuu!`<br>

In [38]:
#a) 
s1='aaa'
s2='uuu'
s3='kkl'
print('a) ')
print(s1+' '+s2+s3)

#b) 
print('\nb) \nprint(5*s3+s1), resulta:')
print(5*s3+s1)

#c) 
print('\nc)')
print(6*(s1+' ') + 2*s2)

#d) 
print('\nd)')
print(5*(s3+s2+'!'))

a)
aaa uuukkl

b)
print(5*s3+s1), resulta:
kklkklkklkklkklaaa

c)
aaa aaa aaa aaa aaa aaa uuuuuu

d)
kkluuu!kkluuu!kkluuu!kkluuu!kkluuu!

### 14) A partir da string abaixo
```
st='123456789'
```

Escreva expressões com base em `st` de forma a retornar:

a) `1`<br>
b) `5`<br>
c) `6`<br>
d) `9`<br>

In [39]:
st='123456789'
st[0]

'1'

In [41]:
st[4]

'5'

In [42]:
st[5]

'6'

In [43]:
st[8]

'9'

### 15) A partir da string abaixo
```
st='123456789'
```

Escreva uma única expressão que retorne:

a) `89`<br>
b) `345`<br>
c) `12`<br>
d) `456789`<br>

In [44]:
st='123456789'

In [46]:
st[7:]

'89'

In [48]:
st[2:5]

'345'

In [49]:
st[:2]

'12'

In [50]:
st[3:]

'456789'

---

## Listas

### 16) Lista numérica

Seja a lista
`lst1 = [50.1, '0.1', 5, 'abc']`

Converta todos os valores do tipo string para numérico. Caso não seja possível, exclua o valor.

In [52]:
lst1 = [50.1, '0.1', 5, 'abc']
lst1[1] = float(lst1[1])
lst1.remove('abc')
print(lst1)

[50.1, 0.1, 5]

In [56]:
### BONUS: para quem quer saber como deixr isso mais genérico :)
### Solução da Marina
lst1 = [50.1, '0.1', 5, 'abc']
for i in range(len(lst1)):
    if type(lst1[i]) == str:
        try:
            lst1[i] = float(lst1[i])
        except:
            lst1.pop(i)

print(lst1)

[50.1, 0.1, 5]

### 17) Escreva uma expressão que seja capaz de retornar, em ordem alfabética, as duas primeiras e a última palavra da lista a seguir:
```
paises = ['Peru', 'Brasil', 'Uruguai', 'Chile', 'Colômbia', 'Argentina']
```

In [58]:
paises = ['Peru', 'Brasil', 'Uruguai', 'Chile', 'Colômbia', 'Argentina']
lista = (paises[:2] + paises[-1:]).sort()
print(lista_ordem)

['Argentina', 'Brasil', 'Peru']

### 18) Retornando o valor da lista:

Seja a mesma lista com países:

```
paises = ['Peru', 'Brasil', 'Uruguai', 'Chile', 'Colômbia', 'Argentina']
```

Peça ao usuário um número e use esse número para retornar o país da respectiva posição na lista. Caso o usuário digite um índice fora dos limites da lista, exibir na tela 'índice do país não existe'

In [61]:
paises = ['Peru', 'Brasil', 'Uruguai', 'Chile', 'Colômbia', 'Argentina']
pos = int(input('digite uma posição: '))
if (pos <= 5 and pos >= 0):
    print(paises[pos])
else:
    print('índice do país não existe')

digite uma posição: 6
índice do país não existe

### 19) Dada uma lista de preços de produtos, abaixo:
```
precos = [10.90, 1.99, 1.99, 5.99, 9.99, 30.0, 29.50, 1.99]
```
Escreva expressões que:

a) Avalie e retorne o número de preços iguais a 1.99<br>
b) Uma expressão que avalie o maior preço na lista<br>
c) Uma expressão que retorne os preços do maior para o menor<br>
d) Uma expressão que altere o último preço para 2.49<br>

In [62]:
precos = [10.90, 1.99, 1.99, 5.99, 9.99, 30.0, 29.50, 1.99]
#a)
n = precos.count(1.99)
print(f'a) {n}')

#b)
maior = max(precos)
print(f'b) {maior}')

#c)
precos.sort(reverse=True)
print(f'c) {precos}')

#d)
precos = [10.90, 1.99, 1.99, 5.99, 9.99, 30.0, 29.50, 1.99]
precos[-1] = (2.29)
print(f'd) {precos}')

a) 3
b) 30.0
c) [30.0, 29.5, 10.9, 9.99, 5.99, 1.99, 1.99, 1.99]
d) [10.9, 1.99, 1.99, 5.99, 9.99, 30.0, 29.5, 2.29]


### 20) Dada uma lista de preços de produtos, abaixo:
```
precos = [10.90, 1.99, 1.99, 5.99, 9.99, 30.0, 29.50, 1.99]
```
Verifique se um determinado preço, informado pelo usuário, está contido na lista.

In [63]:
preco = float(input("qual o preço? "))
precos = [10.90, 1.99, 1.99, 5.99, 9.99, 30.0, 29.50, 1.99]
if (preco in precos):
    print ("valor contido na lista")
elif (preco not in precos):
    print ("valor não contido na lista")

qual o preço? 1.99
valor contido na lista