# Módulo 6

## Aula ao vivo

Introdução à Programação para Engenharias

Moacir A Ponti
2021

### Dicionários, Conjuntos e Funções

Repetição while - é a mais genérica

In [7]:
x = float(input("digite numerador: "))

y = 0

while (y == 0):
    y = float(input("digite denominador (diferente de zero): "))

resul = x/y
    
print(resul)

digite numerador: 3
digite denominador (diferente de zero): 0
digite denominador (diferente de zero): 0
digite denominador (diferente de zero): 0
digite denominador (diferente de zero): 0
digite denominador (diferente de zero): 0
digite denominador (diferente de zero): 0
digite denominador (diferente de zero): 0
digite denominador (diferente de zero): 0
digite denominador (diferente de zero): 0
digite denominador (diferente de zero): 0
digite denominador (diferente de zero): 5
0.6

Repetição for: percorrer uma sequencia ou colecao de objetos

In [10]:
lista = list(range(1,11))

In [11]:
for i in lista:
    print(i, i**2)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [14]:
pos = 0
print("tamanho da lista:", len(lista))
while (pos < len(lista)): ## se nao modifico 'pos', a condicao é sempre True
    i = lista[pos]
    print(i, i**2)
    pos = pos + 1

tamanho da lista: 10
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

**Containers** em Python:

* lista
* tupla
* string
* <font color='red'>dicionário</font>
* <font color='red'>conjunto</font>

In [16]:
l1 = [1, 2, 3, 4, 'a']
t1 = ('valor', 111, 50, 50.5)
s1 = 'string aceita só caracteres'

In [21]:
for el in t1:
    print(el)

valor
111
50
50.5

#### Dicionário

```
<chave>:<valor>
```

palavra:significado

* chave pode ser de qualquer tipo *imutável*
* valor pode ser de qualquer tipo

In [22]:
d1 = { 'subrepticiamente':'de forma clandestina, ilegal'  }

In [23]:
d1['subrepticiamente']

'de forma clandestina, ilegal'

In [24]:
d1[0]

KeyError: 0

In [26]:
d2 = {0: 'elemento zero', 10:'numero dez'}

In [27]:
d2[0]

'elemento zero'

In [28]:
d2[10]

'numero dez'

In [29]:
d2[1]

KeyError: 1

In [35]:
dig_str = {'zero':'0', 'um':'1', 'dois':'2', 'tres':'3'}

In [36]:
dig_int = {'zero': 0, 'um':1, 'dois':2, 'tres':3}

In [31]:
str1 = 'zero dois dois um tres'

In [33]:
str1 = str1.replace('um','zero')
print(str1)

zero dois dois zero tres

In [72]:
str1 = 'um dois dois um tres um zero'

`str.split()` retorna uma lista contendo as palavras da string separadas por espaços em branco

In [75]:
print('hoje eu acordei, feliz!'.split())

['hoje', 'eu', 'acordei,', 'feliz!']

Entao podemos usar isso para gerar a lista das palavras 'numéricas'

In [76]:
print(str1)
lista_de_palavras = str1.split()
print(lista_de_palavras)

um dois dois um tres um zero
['um', 'dois', 'dois', 'um', 'tres', 'um', 'zero']

In [63]:
dig_str

{'zero': '0', 'um': '1', 'dois': '2', 'tres': '3'}

In [77]:
# vamos ver se funciona para a primeira palavra (0)
pal = str1.split()[0]
print('extraindo a palavra na posicao 0:', pal)
print('consultando o dicionário com essa palavra:', dig_str[pal])

extraindo a palavra na posicao 0: um
consultando o dicionário com essa palavra: 1

Agora posso, para cada palavra da lista:
* substituir a palavra escrita (ex. um) pelo seu dígito (ex. 1)

In [94]:
str1 = 'um dois dois um dois um zero dois zero'
for pal in str1.split():
    str1 = str1.replace(pal, dig_str[pal])

In [95]:
# se eu tivesse que fazer com for:
str2 = 'um dois dois um dois um zero dois zero'
for pal in str2.split():
    if pal == 'zero':
        str2 = str2.replace(pal, '0')
    elif pal == 'um':
        str2 = str2.replace(pal, '1')
    elif pal == 'dois':
        str2 = str2.replace(pal, '2')
    elif pal == 'tres':
        str2 = str2.replace(pal, '2')

In [96]:
print(str1)
print(str2)

1 2 2 1 2 1 0 2 0
1 2 2 1 2 1 0 2 0

In [97]:
str1

'1 2 2 1 2 1 0 2 0'

In [98]:
print(str1.split())

['1', '2', '2', '1', '2', '1', '0', '2', '0']

In [99]:
# l_num = list()
# converte uma lista de digitos string em inteiros
l_num = [] 
for s in str1.split():
    l_num = l_num + [int(s)] # concatenando elementos na lista
    #l_num.append(int(s)) # insercao no final da lista

print(l_num)

[1, 2, 2, 1, 2, 1, 0, 2, 0]

Agora, gostaria de obter os dígitos distintos (únicos) dessa lista!

Estrutura `set()`

Conjunto matemático

- colecao de objetos: nao ordenada e sem duplicatas

In [107]:
conj_num = set()
print(type(conj_num))
print(conj_num)

<class 'set'>
set()

In [108]:
conj_num.add(2)
conj_num.add(2)
conj_num.add(3)
conj_num.add(1)
conj_num.add(2)
conj_num.add(2)
conj_num.add(1)
conj_num.add(3)
conj_num.add(3)
conj_num.add(2)
conj_num.add(3)
print(conj_num)

{1, 2, 3}

In [109]:
print(l_num)

[1, 2, 2, 1, 2, 1, 0, 2, 0]

In [111]:
c_num = set(l_num)
print(c_num)

{0, 1, 2}

In [112]:
print('Foram obtidos', len(c_num),'digitos distintos')

Foram obtidos 3 digitos distintos

## Criando funções

``` 
def funcao():
    <codigo da funcao>
    return <o que a funcao responde/retorna>
```

In [146]:
# substitui palavras relativas a digitos pelos digitos em si
def sub_digitos(frase):
    
    # cria um dicionário
    dig_str = {'zero':'0', 'um':'1', 'dois':'2', 
               'tres':'3', 'quatro':'4', 'cinco':'5',
               'seis':'6'}
    
    # para cada palavra da frase informada
    # substitui palavra por dígito
    for pal in frase.split():
        # print(pal)
        frase = frase.replace(pal, dig_str[pal])
    
    return frase

In [148]:
resul = sub_digitos('zero seis um zero dois quatro cinco um')
print(resul)

0 6 1 0 2 4 5 1

In [153]:
# substitui palavras relativas a digitos pelos digitos em si
def sub_digitos(frase, imprime):
    
    # cria um dicionário
    dig_str = {'zero':'0', 'um':'1', 'dois':'2', 
               'tres':'3', 'quatro':'4', 'cinco':'5',
               'seis':'6'}
    
    frase_original = frase 
    
    # para cada palavra da frase informada
    # substitui palavra por dígito
    for pal in frase.split():
        # print(pal)
        frase = frase.replace(pal, dig_str[pal])
    
    if (imprime==True):
        print('Frase original:', frase_original)
        print('Após substituição:', frase)
    
    return frase

In [157]:
r = sub_digitos('zero seis um zero dois', True)

Frase original: zero seis um zero dois
Após substituição: 0 6 1 0 2

In [158]:
sub_digitos('zero seis um zero dois', True)

Frase original: zero seis um zero dois
Após substituição: 0 6 1 0 2

'0 6 1 0 2'

In [159]:
_ = sub_digitos('zero seis um zero dois', True)

Frase original: zero seis um zero dois
Após substituição: 0 6 1 0 2